.danseur2 {
  .big-triangle-1 {
    transform: translate(-60%, -55%) rotate(-50deg);
  }
  .big-triangle-2 {
    transform: translate(-75%, 60%) rotate(-141deg);
  }
  .medium-triangle {
    transform: translate(-39%, 50%) rotate(218deg);
  }
  .small-triangle-1 {
    transform: translate(-40%, 65%) rotate(-100deg);
  }
  .small-triangle-2 {
    transform: translate(10%, 30%) rotate(160deg);
  }
  .small-square {
    transform: translate(-63%, -56%) rotate(0deg);
  }
  .parallelogram {
    transform: translate(-157%, -5%) rotate(-50deg);
  }
}
