.swan {
  .big-triangle-1 {
    transform: translate(-20%, 118%) rotate(135deg);
  }

  .big-triangle-2 {
    transform: translate(35%, 98%) rotate(180deg);
  }
  .medium-triangle {
    transform: translate(10%, 82%) rotate(225deg);
  }
  .small-triangle-1 {
    transform: translate(-1%, -15%) rotate(315deg);
  }

  .small-triangle-2 {
    transform: translate(-38%, 54%) rotate(179deg);
  }

  .small-square {
    transform: translate(-59%, -25%) rotate(0deg);
  }
  .parallelogram {
    transform: translate(-59%, -25%) rotate(0deg);
  }

}
